                    body {
                        background-color: #e5e5ff;
                        color: #000066;
                        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 400;
                        line-height: 18.1818px;
                    }
                    h1 {
                        background-color:  #6666ff;
                        color: #00ff00;
                        font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: bold;
                        line-height: 22px;
                    }
                    h2 {
                        font-family: 'Times New Roman', serif;
                        font-size: 19px;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: bold;
                        line-height: 15px;
                    }
                    footer {
                        font-family: 'Helvetica Neue', Helvetica, sans-serif;
                        font-size: 8px;
                        font-style: italic;
                        font-variant: normal;
                        font-weight: 400;
                        line-height: 15.5844px;
                    }
                    ul {
                        list-style-type: circle;
                    }
                    h4 {
                        font-size: 25;
                        font-weight: 600
                    }